/* 
 * 只需要给自己设定的页面写样式即可 
 *   已经设定好的PAGE?样式
 *     每一个页面都是一屏幕
 *     都设置了position:relative，这样每一页的子元素都相当于当前页面定位
 *     溢出的内容都隐藏了
 *     ......
 */
/* ==PAGE1== */
.page1 {
    background: url('imgs/1.webp') no-repeat;
    background-size: cover;
}

.page1 img {
    position: absolute;
}

.page1 img:nth-of-type(1) {
    /* 所有测量出来的尺寸都要除以100变为REM */
    width: 7.5rem;
    height: 3rem;
    left: 0rem;
    top: 5rem;
}

.page1 img:nth-of-type(2) {
    width: 4rem;
    height: 2.3rem;
    left: 2rem;
    bottom: 8.6rem;
}

.page1 img:nth-of-type(3) {
    width: 1.5rem;
    height: 1.8rem;
    left: 1.6rem;
    top: 4rem;
}

.page1 img:nth-of-type(4) {
    width: 8rem;
    height: 3rem;
    left: 0rem;
    bottom: 3.5rem;
}

.page1 img:nth-of-type(5) {
    width: 1.32rem;
    height: 0.1rem;
    left: 3.4rem;
    top: 1rem;
}

/* ==PAGE2== */
.page2 {
    background: url('imgs/1.webp') no-repeat;
    background-size: cover;
}

.page2 img {
    position: absolute;
}

.page2 img:nth-of-type(1) {
    width: 5.5rem;
    height: 9.5rem;
    left: 1rem;
    top: 2.1rem;
}

.page2 img:nth-of-type(2) {
    width: 3.5rem;
    height: 1.3rem;
    left: 2.05rem;
    top: 0.4rem;
}

.page2 img:nth-of-type(3) {
    width: 4rem;
    height: 2rem;
    right: 1.66rem;
    top: 3rem;
}

.page2 img:nth-of-type(4) {
    width: 4rem;
    height: 2rem;
    right:1.66rem;
    top: 5.9rem;
}

.page2 img:nth-of-type(5) {
    width: 4rem;
    height: 2rem;
    right:1.66rem;
    top: 8.6rem;
}

.page3 {
    background: url('imgs/1.webp') no-repeat;
    background-size: cover;
}

.page3 img {
    position: absolute;
}

.page3 img:nth-of-type(1) {
    width: 4rem;
    height: 2rem;
    left: 0.6rem;
    top: 2rem;
}

.page3 img:nth-of-type(2) {
    width: 5rem;
    height: 2.5rem;
    left: 2rem;
    top: 0.4rem;
}

.page3 img:nth-of-type(3) {
    width: 4rem;
    height: 2rem;
    right: 0.5rem;
    top: 3.9rem;
}

.page3 img:nth-of-type(4) {
    width: 5rem;
    height: 2.5rem;
    right:1.9rem;
    top: 5.4rem;
}
.page3 img:nth-of-type(5) {
    width: 4rem;
    height: 2.5rem;
    right:0.4rem;
    top: 7.3rem;
}
.page3 img:nth-of-type(6) {
    width: 5rem;
    height: 2.5rem;
    right:2rem;
    top: 9.3rem;
}